{% extends 'base.html.twig' %}

{% block title %}Créez un compte
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<div class="container">
		<div class="row">
			<div class="col">
				<h1 class="mt-4">Créez votre compte</h1>

				{{ form_errors(registrationForm) }}

				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.name) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

				<button type="submit" class="btn btn-success mt-4">Créez votre compte !</button>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>
{% endblock %}
