{% extends 'base.html.twig' %}

{% block body %}

	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ label }} alert-dismissible" role="alert">
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				<div class="alert-message">
					{{ message|raw }}
				</div>
			</div>
		{% endfor %}
	{% endfor %}

	<div class="container pt-4">
		<div class="row">
			<div class="col">
				<h1 class="h3 mb-3 font-weight-normal">Modifiez ce trick :</h1>
				<form method="POST" action="{{ path('store',{'id':trick.id}) }}" enctype="multipart/form-data">
					{{ form_start(trickForm) }}
					{{ form_row(trickForm.name) }}
					{{ form_row(trickForm.description) }}
					{{ form_row(trickForm.category) }}
					<fieldset>
						<legend>Médias</legend>
						{% if is_editing %}
							{{ form_row(trickForm.media, {'required': false}) }}
						{% else %}
							{{ form_row(trickForm.media, {'required': true}) }}
						{% endif %}
						{{ form_row(trickForm.video) }}
					</fieldset>
					<div class="pb-4 mt-4">
						<div>
							<h5>Images associées à ce trick :</h5>
						</div>
						<div class="d-flex flex-wrap">
							{% for mediaItem in media %}
								{% if mediaItem.type == 'photo' %}
									<div class="mr-3 mb-3">
										<div class="image-container">
											<img src="{{ asset(mediaItem.media) }}" alt="Image" style="height:120px; margin-right:10px;"/>
										</div>
										<div class="mb-3">
											<span>Supprimer</span>
											<input name="image[]" type="checkbox" value="{{ mediaItem.id }}">
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
						<div>
							<h5>Vidéos associées à ce trick :</h5>
						</div>
						{% for mediaItem in media %}
							{% if mediaItem.type == 'video' %}
								{{ mediaItem.media|raw }}
								<div>
									<span>Supprimer</span>
									<input name="video[]" type="checkbox" value="{{ mediaItem.id }}">
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<button type="submit" class="btn btn-primary mt-4">Valider</button>
				{{ form_end(trickForm) }}
			</form>
		</div>
	</div>
</div>{% endblock %}
