{% extends 'base.html.twig' %}

{% block body %}
	<!-- Trick details-->
	<div id="page-top" class="container pt-4">
		<h2 class="text-uppercase text-center">{{ trick.name }}</h2>
		{% if app.user and app.user.id == trick.user.id %}
			<div class="edit" data-id="{{ trick.id }}">
				<a href="{{ path('edit', {'id': trick.id}) }}">
					<i class="fa-solid fa-pencil pencil" style="cursor:pointer" title="Modifier cet article"></i>
				</a>
			</div>
		{% endif %}
		<ul class="list-inline text-center">
			<li>
				<strong>Catégorie:</strong>
				{{ trick.category }}
			</li>
			<li>
				<p class="text-muted">{{ trick.description }}</p>
			</li>
		</ul>

		<div class="container mt-4 mb-4">
			<div class="card">
				<h3 class="card-header text-center">Photos</h3>
				<div class="card-body">
					<div class="media-grid mb-3">
						{% for media in trick.media %}
							{% if media.type == 'photo' %}
								<img class="grid-media" src="{{ media.media }}" alt="{{ trick.name }}">
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<!-- Affichage des vidéos -->
		<div class="container mb-4">
			<div class="card">
				<h3 class="card-header text-center">Vidéos</h3>
				<div class="card-body">
					<div class="video-grid mb-3">
						{% set hasVideos = false %}
						{% for media in trick.media %}
							{% if media.type == 'video' %}
								<div class="grid-video">
									<div class="video">
										{{ media.media|raw }}
									</div>
								</div>
								{% set hasVideos = true %}
							{% endif %}
						{% endfor %}

						{% if not hasVideos %}
							<p>Aucune vidéo pour ce trick.</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

		<!-- Affichage du formulaire si l'utilisateur est connecté -->
		<div class="container">
			<div class="row">
				<div
					class="col-md-6">
					<!-- Formulaire de commentaires -->
					{% if app.user and app.user.isVerified is same as true %}
						<form method="POST" action="{{ path('commentTrick',{'id':trick.id}) }}">
							{{ form_start(commentForm) }}
							{{ form_row(commentForm.comment) }}
							{{ form_row(commentForm.user) }}
							{{ form_row(commentForm.created_at) }}
							<button type="submit" class="btn btn-primary mt-4">Valider</button>
							{{ form_end(commentForm) }}
						</form>
					{% endif %}
				</div>
				<div
					class="col-md-6">
					<!-- Affichage des commentaires -->
					<h3>Commentaires</h3>
					<div class="mt-4">
						{% if trick.comments is empty %}
							<p>Aucun commentaire pour ce trick.</p>
						{% else %}
							<div class="row">
								{% for comment in comments %}
									<div class="col-md-6 mb-4">
										<div class="card testimonial-card" style="width: 250px;">
											<div class="card-up" style="background-color: #9d789b;"></div>
											<div class="avatar mx-auto bg-white mt-2">
												<img src="{{ comment.user.photo }}" class="rounded-circle img-fluid"/>
											</div>
											<div class="card-body">
												<h4 class="mb-4">{{ comment.user.name }}</h4>
												<p>le
													{{ comment.createdAt|date('d/m/Y à H:i') }}</p>
												<hr/>
												<p class="dark-grey-text mt-4">
													<i class="fas fa-quote-left pe-2"></i>
													{{ comment.comment }}
												</p>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						{% endif %}
						{% if maxPages > 1 %}
							<ul class="pagination pagination-sm">
								{# `«` arrow  #}
								<li {{ thisPage == 1 ? 'class="disabled"' }}>
									<a href="{{ path('show', {'id':trick.id, 'page': thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
								</li>

								{# Render each page number #}
								{% for i in 1..maxPages %}
									<li {{ thisPage == i ? 'class="active"' }}>
										<a href="{{ path('show', {'id':trick.id, 'page': i}) }}">{{ i }}</a>
									</li>
								{% endfor %}

								{# `»` arrow #}
								<li {{ thisPage == maxPages ? 'class="disabled"' }}>
									<a href="{{ path('show', {'id':trick.id, 'page': thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
								</li>
							</ul>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
