<!-- Trick Modals-->
{% for trick in tricks %}
	<div class="trick-modal modal fade" id="trickModal{{ trick.id }}" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.png" alt="Close modal"/></div>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<div class="modal-body">
								<!-- Trick details-->
								<h2 class="text-uppercase">{{ trick.name }}</h2>
								<ul class="list-inline">
									<li>
										<strong>Catégorie:</strong>
										{{ trick.category }}
									</li>
								</ul>
								<p class="item-intro text-muted">{{ trick.description }}</p>

								<!-- Affichage des photos -->
								<h3 class="mb-3">Photos</h3>
								<div class="media-grid mb-3">
									{% for media in trick.media %}
										{% if media.type == 'photo' %}
											<img class="grid-media" src="{{ media.media }}" alt="{{ trick.name }}">
										{% endif %}
									{% endfor %}
								</div>

								<!-- Affichage des vidéos -->
								<h3 class="mb-3">Vidéos</h3>
								<div class="video-grid mb-3">
									{% set hasVideos = false %}
									{% for media in trick.media %}
										{% if media.type == 'video' %}
											<div class="grid-video">
                                                <div class="video">
												    {{ media.media|raw }}
                                                </div>
											</div>
											{% set hasVideos = true %}
										{% endif %}
									{% endfor %}

									{% if not hasVideos %}
										<p>Aucune vidéo pour ce trick.</p>
									{% endif %}
								</div>

								<!-- Affichage des commentaires -->
								<h3 class="mb-3">Commentaires</h3>
								<div>
									{% if trick.comments is empty %}
										<p>Aucun commentaire pour ce trick.</p>
									{% else %}
										<div class="d-flex justify-content-center">
											<div class="col-md-8">
												{% for comment in trick.comments %}
													<div class="mb-5 d-flex justify-content-center">
														<div class="card testimonial-card" style="width: 250px;">
															<div class="card-up" style="background-color: #9d789b;"></div>
															<div class="avatar mx-auto bg-white">
																<img src="{{ comment.user.photo }}" class="rounded-circle img-fluid"/>
															</div>
															<div class="card-body">
																<h4 class="mb-4">{{ comment.user.name }}</h4>
																<p>le
																	{{ comment.createdAt|date('d/m/Y à H:i') }}</p>
																<hr/>
																<p class="dark-grey-text mt-4">
																	<i class="fas fa-quote-left pe-2"></i>
																	{{ comment.comment }}
																</p>
															</div>
														</div>
													</div>
												{% endfor %}
											</div>
										</div>
									{% endif %}
								</div>
							</div>


							<button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
								<i class="fas fa-xmark me-1"></i>
								Fermer
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
